@model ProyectoProgramacionAvanzada.Models.Tarea

@{
    ViewData["Title"] = "Edit Tarea";
}

<h1>Edit Task</h1>

<form asp-action="Edit" asp-controller="Tarea" method="post">
    <input type="hidden" asp-for="TareaId" />

    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input class="form-control" asp-for="Nombre" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Descripcion"></label>
        <textarea class="form-control" asp-for="Descripcion"></textarea>
        <span asp-validation-for="Descripcion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EstadoID"></label>
        <select class="form-control" asp-for="EstadoID" asp-items="ViewBag.EstadoID"></select>
        <span asp-validation-for="EstadoID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PrioridadID"></label>
        <select class="form-control" asp-for="PrioridadID" asp-items="ViewBag.PrioridadID"></select>
        <span asp-validation-for="PrioridadID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FechaEjecucion"></label>
        <input class="form-control" type="datetime-local" asp-for="FechaEjecucion" />
        <span asp-validation-for="FechaEjecucion" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FechaFinalizacion"></label>
        <input class="form-control" type="datetime-local" asp-for="FechaFinalizacion" />
        <span asp-validation-for="FechaFinalizacion" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
</form>
 </div>
    
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
